.planformlist {

    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.planformlist ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 400px;
    min-width: 400px;
    width: 50%;
    height: auto;
    padding-top: 10px;
}
