.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    height: 10vh;
}

.title h1 {
    color: #161616;
    font-size: 60px;
    font-weight: 800;
}

@media screen and (max-width: 830px) {
    .title {
        margin-top: 20px;
        width: 80%;
    }
    
    .title h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 550px) {
    .title {
        margin-top: 50px;
        width: 80%;
    }
    
    .title h1 {
        line-height: 98%;
    }
}

@media screen and (max-width: 430px) {
    .title {
        margin-top: 40px;
        width: 80%;
    }
    
    .title h1 {
        font-size: 40px;
        line-height: 95%;
    }
}